.venv/
data/
*.pyc
.env
*.csv
.DS_Store
*.html
*.sqlite
*.tflite
models/pose_landmarker_heavy.task
models/pose_landmarker_full.task
.ipynb_checkpoints/pose_classification-checkpoint.ipynb
outfolder/
backend/Resumes/
weaviatedb/
